@charset "UTF-8";
body {
  font-family: "윤고딕";
  color: #404040;
}

body .total-container {
  max-width: 1200px;
  margin: 0 auto;
}

body .total-container .cartoon-introduction h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
  height: 100px;
}

body .total-container .cartoon-introduction .cartoon-pictures {
  margin: 0 15px;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .total-container .cartoon-introduction .cartoon-pictures .invisible-cartoon {
  list-style: none;
  position: absolute;
  opacity: 1;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .total-container .cartoon-introduction .cartoon-pictures .invisible-cartoon img {
  width: 100%;
}

body .total-container .cartoon-introduction .cartoon-pictures .visible-cartoon {
  opacity: 1;
}

body .total-container .cartoon-introduction .cartoon-contents {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .total-container .cartoon-introduction .cartoon-contents .cartoon-content {
  margin: 0 30px;
  margin-bottom: 70vh;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.733);
  padding: 15px 10px;
  border-radius: 10px;
}

body .total-container .cartoon-introduction .cartoon-contents .cartoon-content p {
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 0.9rem;
}

body .total-container .cover-letter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 100px;
}

body .total-container .cover-letter .cover-letter-left {
  width: 30%;
  position: -webkit-sticky;
  position: sticky;
  top: 20%;
  height: 50vh;
}

body .total-container .cover-letter .cover-letter-left .my-picture img {
  width: 100%;
}

body .total-container .cover-letter .cover-letter-right {
  width: 40%;
}

body .total-container .cover-letter .cover-letter-right .cover-letter-contents .cover-letter-content {
  position: -webkit-sticky;
  position: sticky;
  top: 20%;
  height: 50vh;
  background-color: white;
}

body .total-container .cover-letter .cover-letter-right .cover-letter-contents .cover-letter-content h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 20px 0;
}

body .total-container .cover-letter .cover-letter-right .cover-letter-contents .cover-letter-content p {
  font-size: 0.75rem;
  line-height: 22px;
}

body .total-container .cover-letter .cover-letter-right .cover-letter-contents .cover-letter-content .greeting {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 30px;
}

body .total-container .cover-letter .cover-letter-right .cover-letter-contents .cover-letter-content .contact-lists .contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

body .total-container .cover-letter .cover-letter-right .cover-letter-contents .cover-letter-content .contact-lists .contact-list:hover {
  color: dodgerblue;
}

body .total-container .cover-letter .cover-letter-right .cover-letter-contents .cover-letter-content .contact-lists .contact-list i {
  font-size: 0.8rem;
  margin-right: 20px;
}

body .total-container .cover-letter .cover-letter-right .cover-letter-contents .cover-letter-content .contact-lists .contact-list a {
  text-decoration: none;
  color: #404040;
  font-size: 0.8rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .total-container .cover-letter .cover-letter-right .cover-letter-contents .cover-letter-content .contact-lists .contact-list a:hover {
  color: dodgerblue;
}

body .total-container .cover-letter .cover-letter-right .cover-letter-contents .cover-letter-content .contact-lists .contact-list .name {
  font-size: 0.8rem;
  letter-spacing: 10px;
  font-weight: 700;
}

body .total-container .projects-container {
  border-top: 1px solid #404040;
  margin: 10px 40px 0 40px;
}

body .total-container .projects-container .project-lists h4 {
  color: dodgerblue;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 50px;
}

body .total-container .projects-container .project-lists .project-list {
  margin: 100px 0;
}

body .total-container .projects-container .project-lists .project-list h5 {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: #5d5d5d;
}

body .total-container .projects-container .project-lists .project-list .project-content {
  font-size: 0.7rem;
  line-height: 20px;
  margin-bottom: 30px;
  color: #5d5d5d;
}

body .total-container .projects-container .project-lists .project-list .tech {
  padding: 0 20px;
  font-size: 0.7rem;
  color: #5d5d5d;
}

body .total-container .projects-container .project-lists .project-list .tech-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  margin-bottom: 30px;
}

body .total-container .projects-container .project-lists .project-list .tech-list li {
  width: 30px;
  margin: 0 10px;
}

body .total-container .projects-container .project-lists .project-list .tech-list li img {
  width: 100%;
}

body .total-container .projects-container .project-lists .project-list a {
  color: #5d5d5d;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .total-container .projects-container .project-lists .project-list a:hover {
  color: dodgerblue;
}

body .total-container .projects-container .project-lists .project-list a i {
  font-size: 1rem;
  margin-right: 5px;
}

body .total-container .projects-container .project-lists .project-list a span {
  font-size: 0.8rem;
}
/*# sourceMappingURL=App.css.map */